<% if @backup_drive %>
  <div class="alert alert-danger">
    Backup drive is not ready to be removed.
  </div>
<% else %>
  <div class="alert alert-success">
    Backup drive is ready to be removed.
  </div>
<% end %>

<form action="/stop_drive" method="POST">
  <button type="submit" class="btn btn-success">Stop Backup Drive</button>
</form>
<br />
<p>Below is the last 30 lines of the log file for the backup, this page will automatically load any new lines if the backup is currently running.</p>
<textarea id="log_view" class="form-control monospace" readonly="readonly" rows='40'><%= @log_file %></textarea>

<script type="text/javascript">
  function updateLog() {
    $.get('/log', function(data){
      $('#log_view').val(data)
    })
  }

  var intervalID = window.setInterval(updateLog, 3000);
</script>
