<div id="messages">
</div>
<div class="card-deck">
  <%= partial :drive, collection: @drives %>
</div>
<h3>Recent Backups</h3>
<table class="table table-striped table-bordered">
  <tr>
    <th>Backup Drive Used</th>
    <th>Started At</th>
    <th>Completed At</th>
    <th>Successful</th>
    <th>Automated</th>
  </tr>
  <%= partial :backup, collection: @backups %>
</table>

<script>
window.onload = function(){
  (function(){
    var show = function(el){

      return function(msg){
        console.log(msg)
        var data = JSON.parse(msg)
        var driveId = "#drive" + data.drive
        console.log(driveId)
        if(data.status == "unmounted"){
          $(driveId).find('.mounted-message').toggleClass('text-danger text-success').text("Not Mounted - Safe To Disconnect")
        }else if(data.status == "mounted"){
          $(driveId).find('.mounted-message').toggleClass('text-danger text-success').text("Mounted - Do Not Disconnect")
        }

      }
    }(document.getElementById('messages'));

    var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);

    ws.onclose   = function()  { console.log('websocket closed'); }
    ws.onmessage = function(m) { show(m.data); };

  })();
}

</script>
