<% if @backup_drive %>
  <div class="alert alert-danger">
    Backup drive is not ready to be removed.
  </div>
<% else %>
  <div class="alert alert-success">
    Backup drive is ready to be removed.
  </div>
<% end %>

<div class="connected row">
  <p>Connected Backup Drives</p>
  <div class="col-xs-3">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Backup Drive 1</h3>
      </div>
      <div class="text-center">
        <i class="fa fa-hdd-o fa-4x" aria-hidden="true"></i>
        <ul class="list-unstyled">
          <li>Backup Drive 1 - Not Connected</li>
          <li>Last Connected - 7 days ago</li>
          <li>Last Backed Up - 12 days ago</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Backup Drive 2</h3>
      </div>
      <div class="text-center">
        <i class="fa fa-hdd-o fa-4x" aria-hidden="true"></i>
        <ul class="list-unstyled">
          <li>Backup Drive 2 - Connected</li>
          <li>Last Connected - Now</li>
          <li>Last Backed Up - 3.5 hours ago</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<form action="/stop_drive" method="POST">
  <button type="submit" class="btn btn-success">Stop Backup Drive</button>
</form>
<br />
<p>Below is the last 30 lines of the log file for the backup, this page will automatically load any new lines if the backup is currently running.</p>
<textarea id="log_view" class="form-control monospace" readonly="readonly" rows='40'><%= @log_file %></textarea>

<script type="text/javascript">
  function updateLog() {
    $.get('/log', function(data){
      $('#log_view').val(data)
    })
  }

  var intervalID = window.setInterval(updateLog, 3000);
</script>
